/* Color Theme Swatches in Hex */
$pink: #CAAFD0;
$darkPink: #CC7295;
$lightPink: #EFA9A9;
$hardal: #DBE1B5;
$olive: #75957D;

/* Color Theme Swatches in Hex */
$b1-hex: #127369;
$b2-hex: #10403B;
$b3-hex: #8AA6A3;
$b4-hex: #4C5958;
$b5-hex: #BFBFBF;

